    
    h2 {
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #02B3E4;
    }


    img {
        position: absolute;
        height:85px;
    }

    div {

        width:48vw;
        height:calc(100vh - 150px);
        float: left;
        position: absolute;

    }

    #rightSide {

        position: absolute;
        left: 48vw;
        border-left: 1px solid black;

    }
